#email-entry {
  float: left;
  padding: 5px;
  border-radius: 2px;
  border: none;
}

.btn {
  float: left;
  background: none;
  display: inline-block;
  position: relative;
  border: none;
  cursor: pointer;
}

.btn:active {
  outline: 0;
}

.email-input-section {
  float: left;
  border: none;
  border-bottom: 1px solid black;
  margin-top: 15px;
}

#copied-notification {
  float: left;
  opacity: 0;
  visibility: hidden;
  padding: 5px 5px 5px 15px;
  margin-top: 15px;
}

#app-links {
  float: right;
  margin-top: 5px;
  padding: 5px 5px 5px 15px;
}
