<section id="links-section">
  <a href="https://github.com/brankeye" target="_blank">
    <img border="0" alt="Github" src="/assets/github-logo.png" width="25" height="25">
  </a>
  <a href="https://www.nuget.org/profiles/BrandonKeyes" target="_blank">
    <img border="0" alt="Nuget" src="/assets/nuget-logo.png" width="25" height="25">
  </a>
  <a href="https://www.linkedin.com/in/brankeye/" target="_blank">
    <img border="0" alt="LinkedIn" src="/assets/linkedin-logo.png" width="25" height="25">
  </a>
</section>
